.workers {
  width: 100%;
  padding-top: 125px;
  h2 {
    font-family: $muli;
    font-size: 39px;
    color: rgba(23,23,23,1);
    width: 100%;
    text-align: center;
  }
  h3 {
    font-family: $muli;
    font-size: 25px;
    line-height: 38px;
    width: 100%;
    text-align: center;
    margin-top: 25px;
    color: rgba(55,55,55,1);
  }
}
.workers__carousel {
  margin-top: 80px;
}
