.header__button {
  width: 263px;
  height: 72px;
  color: rgba(242,242,242,1);
  background: $color-body_red;
  font-family: $muli;
  font-size: 31px;
  text-transform: uppercase;
  i {
    opacity: 0.3;
  }
  margin: 53px 0;
  transition: 1s;
}
.header__button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.55);
  transform: translateX(-2px) translateY(-2px);
  transition: 1s;
  cursor: pointer;
}
.categories__button {
  height: 70px;
  width: 360px;
  border: 2px solid black;
  color: $color-text_black;
  font-family: $muli;
  font-size: 31px;
  line-height: 32px;
  margin-top: 25px;
  background-color: $color-body_bg;
  transition: 1s;
}
.categories__button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.55);
  transform: translateX(-2px) translateY(-2px);
  transition: 1s;
  cursor: pointer;
}
.button--wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.specials__article--button {
  width: 263px;
  height: 72px;
  color: rgba(242,242,242,1);
  background: $color-body_red;
  font-family: $muli;
  font-size: 31px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 10px;
  transition: 1s;
}
.specials__article--button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.55);
  transform: translateX(-2px) translateY(-2px);
  transition: 1s;
  cursor: pointer;
}
.specials__offer--button {
  width: 197px;
  height: 72px;
  color: rgba(242,242,242,1);
  background: $color-body_red;
  font-family: $muli;
  font-size: 31px;
  text-transform: uppercase;
  margin-top: 37px;
  margin-bottom: 10px;
  transition: 1s;
}
.specials__offer--button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.55);
  transform: translateX(-2px) translateY(-2px);
  transition: 1s;
  cursor: pointer;
}
.bestsellers--button {
  width: 358px;
  height: 69px;
  background-color: $color-body_bg;
  border: 2px solid rgba(23,23,23,1);
  margin: 10px auto;
  font-family: $muli;
  font-size: 31px;
  line-height: 32px;
  transition: 1s;
}
.bestsellers--button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.55);
  transform: translateX(-2px) translateY(-2px);
  transition: 1s;
  cursor: pointer;
}
.feedback--button {
  width: 358px;
  height: 69px;
  background-color: $color-body_bg;
  border: 2px solid rgba(23,23,23,1);
  font-family: $muli;
  font-size: 31px;
  line-height: 32px;
  transition: 1s;
  margin-top: 40px;
}
.feedback--button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.55);
  transform: translateX(-2px) translateY(-2px);
  transition: 1s;
  cursor: pointer;
}
.banner--button {
  width: 262px;
  height: 108px;
  background: $color-body_red;
  font-family: $muli;
  font-weight: 500;
  font-size: 49px;
  color: rgba(242,242,242,1);
  text-transform: uppercase;
  transition: 1s;
  margin: 30px;
}
.banner--button:hover {
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.55);
  transform: translateX(-2px) translateY(-2px);
  transition: 1s;
  cursor: pointer;
}
.footer--button {
  width: 360px;
  height: 72px;
  font-family: $muli;
  font-size: 31px;
  line-height: 32px;
  color: rgba(242,242,242,1);
  background: $color-body_red;
  text-transform: uppercase;
  transition: 1s;
  margin: 15px;
}
