@import "reset";
@import "variables+mixins";
@import "font";
@import "buttons";
@import "@media";

@import "menu";
@import "header";
@import "categories";


//Base
html {
  background-color: $color-body_bg;
}
.wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.foo {
  width: 100%;
  height: 100px;
  background: blue;
}
