@import "reset";
@import "variables+mixins";
@import "font";
@import "buttons";
@import "carousel";
@import "@media";

@import "menu";
@import "header";
@import "categories";
@import "specials";
@import "bestsellers";
@import "process";
@import "workers";
@import "feedback";
@import "partners";
@import "video";


@import "footer";

//Base
html {
  background-color: $color-body_bg;
}
.wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}


